@import 'normalize.css';

.container {
    margin: 2em 10em;

}

.header {
    display: flex;
    justify-content: space-between;
}

.header__title {
    flex-basis: 50% ;
}

.team {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.team__card {
    width: 200px;
}

.team__card img {
    width: 200px;
}